<ion-header>

  <ion-navbar color="dark">
    <ion-title>Balanço Hídrico</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card>
          <ion-card-header text-center style="background-color: #E8E8E8">
            <b>Formula Utilizada</b>
          </ion-card-header>
          <ion-card-content>
            <b>BH = LA - LE - (PESO * 0.5 * N° horas internação)</b>
          </ion-card-content>
          <ion-card-content>
            <small>BH: Balanço Hidrico, LA: Liquidos Administrados, LE: Liquidos Eliminados</small>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card>
          <ion-card-header text-center style="background-color: #E8E8E8">
            <h2>Relatorio</h2>
          </ion-card-header>
          <ion-card-content>
            <p>Total de Liquidos Administrados: <span style="float: right">{{totalLA| number: '1.2-2'}} ml's</span></p>
            <p>Total de Liquidos Eliminados: <span style="float: right">{{totalLE| number: '1.2-2'}} ml's</span></p>
            <p>Perdas Insensiveis: <span style="float: right">{{PI| number: '1.2-2'}} ml's</span></p>
            <p>Balanço Hidrico: <span style="float: right">{{bh| number: '1.2-2'}} ml's</span></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab right bottom>
    <button ion-fab><ion-icon name="ios-arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="resertInfor()"><ion-icon name="ios-trash"></ion-icon></button>
      <button ion-fab (click)="showPrompt()"><ion-icon name="md-share"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>


</ion-content>
