page-bh {

  //.button{
  //  background-color: #E8E8E8;
  //  color: #2d2d2d;
  //}

  .fab {
    background-color: #E8E8E8;
    color: #2d2d2d;
  }

  .item {
    background-color: #FF7F24;
  }

  .card{
    background-color: #E8E8E8;
  }

}
