<ion-header>

  <ion-navbar color="dark">
    <ion-title>Adicionar Balanço Hidrico</ion-title>
    <!--<ion-buttons end>-->
      <!--<button ion-button (click)="cancelar()"><ion-icon name="md-close"></ion-icon></button>-->
    <!--</ion-buttons>-->
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-label>Data do balanço:</ion-label>
        <ion-item>
          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" cancelText="fechar" doneText="ok" [(ngModel)]="data.date" placeholder="Data: 01/01/2017"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-label>Valor de Balanço:</ion-label>
        <ion-list>
          <ion-item>
            <ion-input type="text" [(ngModel)]="data.value" value="{{data.value}}" placeholder="Digite o Balanço Hidrico!" disabled></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4><button ion-button block large color="light" (click)="digito(1)">1</button></ion-col>
      <ion-col col-4><button ion-button block large color="light" (click)="digito(2)">2</button></ion-col>
      <ion-col col-4><button ion-button block large color="light" (click)="digito(3)">3</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4><button ion-button block large color="light" (click)="digito(4)">4</button></ion-col>
      <ion-col col-4><button ion-button block large color="light" (click)="digito(5)">5</button></ion-col>
      <ion-col col-4><button ion-button block large color="light" (click)="digito(6)">6</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4><button ion-button block large color="light" (click)="digito(7)">7</button></ion-col>
      <ion-col col-4><button ion-button block large color="light" (click)="digito(8)">8</button></ion-col>
      <ion-col col-4><button ion-button block large color="light" (click)="digito(9)">9</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4><button ion-button block large (click)="apagar()" color="light"><ion-icon name="ios-backspace"></ion-icon></button></ion-col>
      <ion-col col-4><button ion-button block large (click)="digito(0)" color="light">0</button></ion-col>
      <ion-col col-4><button ion-button block large (click)="digito('.')" color="light">.</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6><button ion-button block large color="light" (click)="digito('+')">+</button></ion-col>
      <ion-col col-6><button ion-button block large color="light" (click)="digito('-')">-</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button block large (click)="cancelar()" color="danger">Cancelar</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block large (click)="ok()" color="secondary">Confirmar</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
