
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Perdas Insesíveis</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid style="height: 100%">
    <ion-row>
      <ion-col col-12>
        <ion-card text-center>
          <ion-card-title>Peso</ion-card-title>
          <ion-card-content>
            {{peso| number}} kg
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card text-center>
          <ion-card-title>Horas de Internação</ion-card-title>
          <ion-card-content>
            {{horasInternacao}} Horas
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card text-center>
          <ion-card-title>Perdas Insensiveis</ion-card-title>
          <ion-card-content>
            {{calcPI | number: '1.2-2'}} ml's
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab bottom right>
    <button ion-fab (click)="openModal()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>

</ion-content>
