<ion-header>

  <ion-navbar>
    <ion-title>Pacientes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-item *ngIf="pacientes.length == 0" text-center>
    <ion-label>Nenhum Paciente Cadastrado!</ion-label>
  </ion-item>

  <ion-list >
    <ion-item *ngFor="let paciente of pacientes" (click)="openPaciente(paciente.id)">
      <h3>{{paciente.nome}}</h3>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="newPaciente()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
