<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-left (click)="close()">
        <ion-icon name="md-arrow-back"></ion-icon>
        <ion-title>Cadastro de Paciente</ion-title>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <form [formGroup]="form" (submit)="save()">

    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Peso</ion-label>
      <ion-input type="number" formControlName="peso"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Data da Intenação</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" formControlName="dataHoraInternacao" doneText="ok"></ion-datetime>
    </ion-item>

    <!--<ion-item>-->
      <!--<ion-label stacked>Hora da Intenação</ion-label>-->
      <!--<ion-datetime displayFormat="HH:mm" formControlName="horaInternacao" doneText="ok"></ion-datetime>-->
    <!--</ion-item>-->

    <button type="submit" ion-button full>Salvar</button>
  </form>

</ion-content>
