<ion-header>
  <ion-navbar>
    <ion-title>
      BH Inteligente!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-12 *ngFor="let page of pages">
        <ion-card text-center (click)="openPage(page)">
          <ion-card-content>
            <h2>{{page.title}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
