.toolbar-background {
  background-color: #222222;
}

.toolbar-title.toolbar-title-md{
  color: #FFFFFF;
}
.toolbar-title.toolbar-title-ios{
  color: #FFFFFF;
}
.toolbar-title.toolbar-title-wp {
  color: #FFFFFF
}

.content{
  background-color: #FF7F24;
}
