<ion-header>

  <ion-navbar color="dark">
    <ion-title>Balanço Hídrico Diário</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card text-center (click)="liqAdm()" style="background-color: #E8E8E8">
          <ion-card-title>
            Liquidos Administrados!
          </ion-card-title>
          <ion-card-content>
            Total: {{totalLA | number:'1.2-2'}} ml's
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card text-center (click)="liqEli()" style="background-color: #E8E8E8">
          <ion-card-title>
            Liquidos Eliminados!
          </ion-card-title>
          <ion-card-content>
            Total: {{totalLE | number:'1.2-2'}} ml's
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card text-center (click)="perdasInsensiveis()" style="background-color: #E8E8E8">
          <ion-card-title>
            Perdas Insensíveis!
          </ion-card-title>
          <ion-card-content>
            Total: {{PI | number: '1.2-2'}} ml's
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card text-center (click)="viewBh()" style="background-color: #E8E8E8">
          <ion-card-title>
            Balanço Hidrico!
          </ion-card-title>
          <ion-card-content>
            Total: {{bh | number:'1.2-2'}} ml's
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
