page-liquidos-eliminados {

  .grid{
    height: 100%;
  }

  .row{
    height: 50%;
  }

  ion-scroll{
    height: 100%;
    border-bottom: groove
  }

  .button{
    background-color: #E8E8E8;
    color: #007aff;
  }

  .selectLiquido{
    color: #2d2d2d;
    white-space: inherit;
    height: 100%;
  }

  .item {
    background-color: #E8E8E8;
  }

  .card{
    background-color: #E8E8E8;
    text-align: center !important;
  }

}
