<ion-header>

  <ion-navbar>
    <ion-title>{{paciente?.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-fab right bottom>
    <button ion-fab (click)="newBalanco()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
