page-balanco-consolidar {

  .button{
    background-color: #E8E8E8;
    color: #007aff;
  }

  .card{
    background-color: #E8E8E8;
  }

  .item {
    background-color: #E8E8E8;
    color: #2d2d2d;
  }

  .fab{
    background-color: #E8E8E8;
    color: #2d2d2d;
  }

}
