<ion-header>

  <ion-navbar color="dark">
    <ion-title>Consolidar Balanços Hidricos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card *ngIf="listBalancos.length == 0" text-center>
          <ion-card-title>
            Nenhuma valor Adicionado!
          </ion-card-title>
          <ion-card-content>
            Adicione os valores de Balanço Hidrico diario!
          </ion-card-content>
        </ion-card>
        <ion-list>
          <ion-list-header *ngIf="listBalancos.length != 0" text-center>Total: {{total| number: '1.2-3'}} ml's</ion-list-header>
          <ion-item *ngFor="let balanco of listBalancos| orderBy: ['date']">
            <h3>Data do Balanço: {{balanco.date| date:'dd-MM-yyyy'}}</h3>
            <p>Valor: {{balanco.value | number}} ml's</p>
            <button ion-button item-end clear (click)="apagar(balanco)">
              apagar
            </button>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-fab right bottom>
        <button ion-fab><ion-icon name="ios-arrow-dropup"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab  (click)="addModal()"><ion-icon name="md-add"></ion-icon></button>
          <button ion-fab (click)="showPrompt()"><ion-icon name="md-share"></ion-icon></button>
          <button ion-fab (click)="resertInfor()"><ion-icon name="ios-trash"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
    </ion-row>
  </ion-grid>

</ion-content>
