
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Liquidos Administrados</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-scroll scrollY="true">

          <ion-card *ngIf="listLiquidos.length == 0">
            <ion-card-title>Nenhum liquido adicionado!</ion-card-title>
            <ion-card-content>Selecione o liquido abaixo e insira o volume!</ion-card-content>
          </ion-card>
          <ion-list>
            <ion-item *ngFor="let l of listLiquidos">
              <h3>{{l.liquido.verbose}}</h3>
              <p>Volume: {{l.volume}} ml's</p>
              <button ion-button item-end clear (click)="apagar(l)">
                apagar
              </button>
            </ion-item>
          </ion-list>
        </ion-scroll>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 *ngFor="let liquido of liquidos">
        <button class="selectLiquido" ion-button full large (click)="selectLiquido(liquido.slug)">
          <small>{{liquido.verbose}}</small>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
